.events-container {
  position: fixed;
  scroll-behavior: smooth;
  background: #F7F8F5;
  padding-top: 67px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
  top: 41px;
  height: 100vh;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  transition: 0.6s all ease;
  z-index: 9;
  border-radius: 0.8rem;

  &.slide-down {
    background-color: #e0e0e0;
    top: 90vh;
  }
}
.events-container .event-card:last-child {
  margin-bottom: 100px;
}

.events-container .event-card:last-child {
  margin-bottom: 109px;
}

.toggle-button-container {
  position: fixed;
  bottom: 64px;
  padding: 0.4rem;
  z-index: 99999;
  left: 0px;
  right: 0px;
  max-width: 80px;
  margin: auto;
  border-radius: 0.8rem;
  padding: 0.1618rem;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 16px;
  box-shadow: 0px 3px 5px 0px #0C11221A;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.title-index {
  height: 112px;
  border-radius: 12px;
}

.title-inner {
  text-align: center;
  width: 100%;
}

.title-inner h1 {
  font-size: 24px;
  font-weight: 100;
  padding: 5px 0 5px 0;
  margin: -63px;
}
.toggle-button-container button {
  border: none;
  background: none;
}

.event-list {
  background: #e0e0e0;
  transition: transform 0.6s ease-in-out;
}

.event-list.show {
  display: block;
  transform: translateY(0);
}
.event-card {
  border: 1px solid #e0e0e0;
  border-radius: 17px;
  background: white;
  box-shadow: #6b6c6b;;
  margin-bottom: -20px;
  margin: 0px;
  margin-bottom: 10px;

}

.view-details-button {
  font-family: Montserrat;
  color: #232e15;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px 13px;
  background-color: #97B140;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.view-details-button:hover {
  background-color: #758933;
  color: rgb(0, 0, 0);
}

#events-map {
  height: 100vh;
}

.info-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 50vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.hidden {
  display: none;
}

.info-panel.open {
  transform: translateY(0);
}

.info-panel.hidden {
  transform: translateY(100%);
  // Alternatively, you could use display: none; if you prefer not to use transform.
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 21px;
  background-color: #F7F8F5;
}

.fixed-popup {
  transform: none !important;
  top: auto !important;
  bottom: 30px !important;
  left: 0 !important;
  right: 0 !important;
  width: 100vw;
  z-index: 999999;
}
.event-card:hover {
  background: #cccccc4d;
  transition: background-color 0.5s ease;
}
span.event-atribute {
  font-weight: 600;
  color: #2a2c2c;
}
.event-card p {
  color: #3d413f;
}
button.mapboxgl-popup-close-button {
  background: #e1dcdc;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 18px;
  color: #000;
}
.index-wrapper {
  height: 100vh;
}
.title-index {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

.events-container .event-card:first-child {
  margin-top: 60px;
}
.event-card {
  padding: 15px;
}
.event-card h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.mapboxgl-ctrl-logo {
  background-image: none !important;
}

.mapboxgl-ctrl-attrib-button {
  background-image: none !important;
}

.event-card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: -185px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.event-card img {
  width: 100%; /* Image takes full width of the card */
  display: block; /* Remove any default inline spacings */
  margin: 0; /* Reset default margins */
  border-top-left-radius: 8px; /* Top left corner */
  border-top-right-radius: 8px; /* Top right corner */
}


.mapboxgl-canvas {
  position: absolute;
  top: 104px;
}
