.events-container {
  position: fixed;
  scroll-behavior: smooth;
  background: #EFF3D9;
  padding: 67px 15px 15px 15px;
  overflow: scroll;
  top: 0;
  height: 100vh;

  gap: 40px;
  transition: 0.6s all ease;
  z-index: 9;
  border-radius: 0.8rem;
}

.name-container {
  position: absolute;
  bottom: 0
}

.events-container.slide-down {
  background-color: #e0e0e0;
  top: 90vh;
}

.events-container .event-card-index {
  border: 1px solid #e0e0e0;
  border-radius: 17px;
  background: #fff;
  margin: 0;
}

.events-container .event-card-index:first-child {
  margin-top: 60px;
}

.events-container .event-card-index:last-child {
  margin-bottom: 109px;
}

.toggle-button-container {
  position: fixed;
  bottom: 64px;
  padding: 0.1618rem;
  z-index: 99999;
  left: 0;
  right: 0;
  max-width: 80px;
  margin: auto;
  border-radius: 0.8rem;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 16px;
  box-shadow: 0px 3px 5px 0px #0C11221A;
  display: inline-flex;
  align-items: center;
}

.toggle-button-container button {
  border: none;
  background: none;
}

.img-container{
  position: relative
}

.title-index {
  position: fixed;
  height: 112px;
  border-radius: 12px;
  z-index: 999;
  background: #F7F8F5;
  width: 100%;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

.title-index {
  display: grid;
  align-content: space-between;
}
.title-inner {
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.title-inner {
  text-align: center;
  width: 100%;
}

.title-inner h1 {
  font-size: 24px;
  font-weight: 100;
  padding: 5px 0;
  margin: 0;
}

.event-list {
  background: #e0e0e0;
  transition: transform 0.6s ease-in-out;
}

.event-list.show {
  display: block;
  transform: translateY(0);
}

.view-details-button {
  font-family: Montserrat;
  color: #232e15;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 8px 13px;
  background-color: #97B140;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.view-details-button:hover {
  background-color: #758933;
  color: rgb(0, 0, 0);
}

#events-map {
  height: 100vh;
}

.info-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 50vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.info-panel.open,
.info-panel.hidden {
  transform: translateY(0);
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 21px;
  background-color: #F7F8F5;
}

.fixed-popup {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 999999;
}

.event-card-index:hover {
  background: #cccccc4d;
  transition: background-color 0.5s ease;
}

span.event-atribute {
  font-size: 14px;
  color: #2a2c2c;
}
.svg-icons-events-attribute {
  margin-right: 0.3rem;
}
.event-card-index p {
  color: #3d413f;
}

button.mapboxgl-popup-close-button {
  background: #c4d3bf;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 18px;
  color: #000;
}

.index-wrapper {
  height: 101vh;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib-button {
  background-image: none !important;
}

.event-card-index-link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.event-card-index img {
  width: 100%;
  display: block;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.mapboxgl-canvas {
  position: absolute;
  top: 104px;
}
.events-container .event-card-index {
  margin-top: 1rem;
}

.events-container {
  width: 100%;
}
.fixed-popup.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  height: 97vh;
  transform: none!important;
}
.info-window img {
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  border: solid 1px #ccc;
}


.custom-marker {
  border-radius: 100%;
  border: solid 4px #fff;
}

.info-window .events-atribute-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
  width: calc(100% - 1.6rem);
  margin-left: -7.2rem;
  flex-direction: column;
  border-bottom: solid 0.5px #595e5b;
  margin-bottom: 14px;
}
