.events-container {
  position: absolute;
  height: 100vh;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  transition: 0.6s all ease;

  &.slide-down {
    background-color: #e0e0e0;
    top: 100vh;
  }
}

.event-list {
  background: #e0e0e0;
  transition: transform 0.6s ease-in-out;
}

.event-list.show {
  display: block;
  transform: translateY(0);
}
.event-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: #57585a ;
}

.event-card h2 {
  margin-bottom: 10px;
}

.view-details-button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.view-details-button:hover {
  background-color: #0056b3;
}

#events-map {
  height: 80vh;
  background-color: red;
}

.events-dynamic-container {
  }

.info-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 50vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.info-panel.open {
  transform: translateY(0);
}
