.search-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-input-group {
  display: flex;
}

.search-query-input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 50px;
  margin-right: -26px;
  margin-top: -25px;
  margin-bottom: 25px;
  background: #F7F8F5;
  border-color: #b3b1b1;
}

.search-submit-button {
  border-radius: 63px;
  background: #344620;
  border-color: #344620;
  margin-top: -25px;
  margin-bottom: 25px;
  margin-right: -26px;
  width: 49px;
}

.svg-icon-2{
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentColor;
  stroke-width: 5.333333333333333;
  overflow: visible;
  z-index: 99999;
  margin-right: 86px;
  margin-top: -10px;
  color: #ffffff;
  font-size: large;
}
