// Next time the general styling should be all in one place

.tirtuary-h {
  color: #485936;
  margin-block: 50px;
}

.action-button {
  color: #485936;
}

.form-container {
  padding: 40px;
  background-color: #ebede9;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #05070349;
}
