.profile-logout {
  width: 100%;
}

.profile-banner {
  width: 100vw;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #2f3f1dae;

  video {
    object-fit: cover;
    width: 100vw;
    height: 200px;
  }
}

.profile-card {
  // margin: 100px 0;
  // position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 20px;
    // margin-bottom: 30px;
    transform: translateY(-25%);

    .user-image-container {
      width: 120px;
      height: 120px;
      background-color: rgb(131, 131, 131);
      border-radius: 50%;
      box-shadow: 0 0 10px 0 #2f3f1dae;
      margin-bottom: 20px;
    }

    .user-name-container {
      color: #2F3F1D;
      font-weight: 700;
      font-size: 22px;
      // letter-spacing: 1.1px;
      display: flex;
      gap: 10px;
    }

    .user-type {
      margin-bottom: 20px;
      color: #859079;
      letter-spacing: 1.2px;
    }
  }

  .action-button, .inset-action-button {
    transition: 0.2s;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
  }

  .action-button {
    color: #ebede9 !important;
    background: linear-gradient(to right, #5b6a26 50%, #6a7c2d);

      &:hover {
        background: linear-gradient(to right, #6a7c2d 50%, #798e33);
      }
  }

  .inset-action-button {
    box-shadow: inset 0 0 0 4px #6a7c2d;
    color: #6a7c2d;
    padding-block: 10px;


    &:hover {
      box-shadow: inset 0 0 0 6px rgba(72, 89, 54, 0.608);
      color: rgba(72, 89, 54, 0.608);
    }
  }

  .user-info-bottom {
    width: 400px;
    // height: 400px;
    // border: 4px solid rgba(53, 69, 33, 0.631);
    background-color: #ebede9;
    box-shadow: inset 1px 1px 10px 0 #2f3f1d66;
    border-radius: 10px;
    padding: 4ch 20px;
    margin-bottom: 40px;

    .profile-action-extender {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

    }

    .action-extender {
      height: 80px;
      // border-radius: 10px;
      font-size: 20px;
      border: none;
      color: #ebede9;
      background-color: #5d6b4d;

      .fa-solid {
        margin-left: 10px;
      }
    }

    .accordion-button {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.5px;
      background-image: linear-gradient(to right, #5b6a26 50%, #6a7c2d);
      color: #ebede9;
      border-radius: 10px !important;
      margin-bottom: 10px;
      transition: 0.5s;

      &:hover {
        background-color: #485936;
        background-image: linear-gradient(to right, #6a7c2d 50%, #798e33);
      }
    }
    .accordion-button:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    .accordion-item {
      border: none;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: white;

      .no-events {
        margin-bottom: 20px;
        color: #859079;
        letter-spacing: 1.2px;
      }
    }

    .event-card-index {
      background-color: white;
    }

  }
}
