body {
  background-color: white;
}

.section-show {
  img {
    width: 100%;
    border-radius: 10px;

  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }
.event-card {

  p {
    font-size: 20px;
  }
}

}
