body {
    background-color: white;
}

.section-show {
  img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  h3 {
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 2%;
  }

}

.event-card {
  p {
  font-size: 20px;
  font-family: 'Montserrat';
  font-size: 15px;
  background-color: #F7F8F5;
  border-radius: 10px;
  font-weight: bold;
  }

  h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    background-color: #F7F8F5;
    margin: 10%;
    border-radius: 10%;
    box-shadow: 0 10px 8px rgba(0,0,0,0.1);
  }
}

.event-card-details {
  font-size: 20px;
  font-family: 'Montserrat';
  background-color: #F7F8F5;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 10px 8px rgba(0,0,0,0.1);

  div {
    width:65%;
    float:left;
    padding-top: 2%;
    padding: 8px;

    p {
      margin-left: 5%;
    }
  }

  button {
    width: 20%;
    margin-top: 44px;
    margin-right: 10%;
    background-color: #5d6b4d;
    color: white;
    padding: 10px;

  }

.navbar {
  background-color: #344620;
  }

  .event-booking {
    h1 {
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 2%;

    }
  }
}
