<% if @gardens.any? %>
  <div>
    <% @gardens.each do |garden| %>
      <div class="event-card-index">
        <div class="img-container">
          <% if garden.photos.attached? %>
            <%= image_tag garden.photos.first, alt: garden.name, class: 'd-block w-100' %>
          <% else %>
            <%= image_tag("logo.png", alt: "default image", class: 'd-block w-100') %>
          <% end %>
        </div>
        <div class="card-content">
          <div class="garden-name-container">
            <h2><%= garden.name %></h2>
            <i class="fa-regular fa-heart" style="color: #ffffff;"></i>
          </div>
          <p class="garden-address"><%= garden.location %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No favourites found.</p>
<% end %>
