<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Garden App</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

    <div class="page-content">

    </div>

    <div class="bottom-navbar">
        <a href="#explore" class="nav-item">
            <i class="fa-solid fa-magnifying-glass" style="color: #222e14;"></i>
        </a>
        <a href="#favorites" class="nav-item">
            <i class="fa-regular fa-heart"  style="color: #222e14;"></i>
        </a>
        <a href="#calendar" class="nav-item">
        <i class="fa-regular fa-calendar"  style="color: #222e14;"></i>
        </a>
        <a href="#profile" class="nav-item">
            <i class="fa-solid fa-user"  style="color: #222e14;"></i>
        </a>
    </div>

</body>
</html>
