<div class="info-window">
  <%= image_tag "photo1.jpg", class:"d-block w-100" %>
  <h3><%= event.name %></h3>
  <p><%= event.description %></p>
  <%= link_to 'View Details', event_path(event), class: 'view-details-button' %>
</div>
