<div class="row justify-content-center search-row">
  <div class="col-sm-8 my-3">
    <%= form_with url: events_path, method: :get, class: "d-flex search-input-group" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-query-input",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "", name: "", class: "btn btn-primary search-submit-button" %>
      <span class="svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display:block;fill:none;height:12px;width:12px;stroke:currentColor;stroke-width:5.333333333333333;overflow:visible" aria-hidden="true" role="presentation" focusable="false"><path fill="none" d="M13 24a11 11 0 1 0 0-22 11 11 0 0 0 0 22zm8-3 9 9"></path></svg></span>
    <% end %>
  </div>
</div>
