.events-show {
  background-color: #F7F8F5;

  .section-show {
    min-height: 70vh;
    background-color: #F7F8F5;

    h3 {
      margin-left: 0px;
    }

    .event-address {
      font-size: 17px;
      font-family: 'Montserrat';
      opacity: 0.6;
      margin-left: 0px;
      margin-top: -06px;
    }

    .show-event-title {
      margin-bottom: 2px;
      font-weight: bold;
      font-family: 'Montserrat';
      font-size: 25px;
    }

    .show-description {
      font-size: 20px;
      margin-left: 0px;
      margin-top: 12px;
      margin-bottom: 30px;
      font-family: 'Montserrat';
    }

    .show-container
      {
        img {
          width: 100%;
          border-radius: 7%;
          padding: 10px;
        }
      }
  }

  .event-container {
    background-color: #F7F8F5;
    min-height: 25vh;

    .form-control {
      background-color: white;
    }

    .event-booking-form {

      i {
        margin-left: 11%;
      }

      p {
        font-family: 'Montserrat';
        font-size: 20px;
        color: #436c21;
        font-size: 25px;
      }
    }

    .form-label {
      font-family: 'Montserrat';
      font-weight: bold;
      margin-left: 0px;
      margin-top: -06px;
    }

    .btn-primary {
      font-family: 'Montserrat';
      color: #ebede9;
      background-color: #5d6b4d;
      transition: 0.2s;
      width: 100%;
      &:hover {
        background-color: #485936;
      }
    }
  }
}
