<div class="title-index">
  <div class="title-inner">
    <%= render 'gardens/search_bar' %>
  </div>
  <h1>Gardens in Barcelona</h1>
</div>
<div class="events-dynamic-container">
  <div class="event-list">
    <div class="events-container">
      <% @gardens.each do |garden| %>
        <%= render "garden_card", garden: garden %>
      <% end %>
      </div>
    </div>
  </div>
</div>
