
  <div class="container">
    <section class="section-show">
        <div class="show-container">
          <div class="show-photo-column">
            <%= image_tag "garden1.jpg", class:"show-photo"%>
          </div>
          <div class="show-description-column">
            <h3 class="show-garden-title"><%= @garden.name %></h3>
            <p class="show-description"><%= @garden.description %></p>
            </div>
          </div>
      </section>
  </div>

  <div class="event-card">
    <div class="event-card-info">
    <p class="text-center">Upcoming events</p>
  </div>

  <div class="event-details-card">
    <div class="event-card-details">
    <p class="text-center">Event name</p>
  </div>
