
<section class="section-show">
  <div class="show-container">
    <div class="show-photo-column">
      <%= image_tag "garden1.jpg", class:"show-photo"%>
    </div>
    <div class="show-description-column">
      <h3 class="show-garden-title"><strong><%= @garden.name %></strong></h3>
      <p class="show-location"><%= @garden.location %></p>
      <p class="show-description"><%= @garden.description %></p>
    </div>
  </div>
</section>

<section class="event-card">
  <div class="event-card-info">
    <h3 class="text-center">Upcoming events</h3>
  </div>
</section>

<section class="event-card-details">
  <div>
    <p class="text-left">Event name:</p>
    <p class="text-left">Event Description:</p>
    <p class="text-left">Date and time:</p>
  </div>
  <button>Book</button>
</section>
