.action-button {
  background-color: #798e33;
  padding: 10px 20px;

}

.action-button, .inset-action-button {
  font-family: sans-serif;
  color: #2f3f1d;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.action-button:hover {
  background-color: #6a7c2d;
  color: rgb(0, 0, 0);
}

.inset-action-button {
  box-shadow: inset 0 0 0 4px #798e33;
  color: #798e33;
  padding: 15px 20px;


  &:hover {
    box-shadow: inset 0 0 0 6px #97b140d2;
    color: #798e33;
  }
}
