.action-button {
  padding: 10px 20px;
  background-color: #97B140;
  color: #000000;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.action-button:hover {
  background-color: #758933;
  color: rgb(0, 0, 0);
}

