.logo {
  max-height: 120px;
  height: 100%;
  transform: scale(3.5);
  padding-top: 14px;
  padding-left: 15px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  // ??????
  padding-bottom: 60px;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 59px;
  background: linear-gradient(to right, #6b9932, #354521);;
  display: flex;
  padding: 10px 0;
  z-index: 1000;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.bottom-navbar i {
  font-size: 24px;
  color: #ffffff;
}

.nav-item {
  height: 32px ;
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
}


.fa {
  font-size: 700px;
}


.nav-item img {
  width: 32px;
  height: 32px;

}

.profile-icon {
  border-radius: 50%;
}
