

.logo {
  max-height: 120px;
  height: 100%;
  transform: scale(3.5);
  padding-top: 14px;
  padding-left: 15px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  // ??????
  padding-bottom: 60px;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}

.bottom-navbar i {
  font-size: 24px;
  color: #2d9a32;
}

.nav-item {
  height: 32px ;
  text-align: center;
  flex-grow: 1;
}


.fa {
  font-size: 700px;
}


.nav-item img {
  width: 32px;
  height: 32px;

}

.profile-icon {
  border-radius: 50%;
}
