.root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.root-background {
  // background-image: linear-gradient(to top, #344620a0 20%, #1a2310e7 60%), asset-url("root.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.root-gradient {
  background-image: linear-gradient(to top, #344620a0 20%, #1a2310d3 60%);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.root-img {
  height: 100%;

}

#background {
  z-index: -2;
}

.root-header {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 7px;
  color: #9aa390;
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 170px;

}

.carousel-wrapper {
  padding: 20px;
  // margin-top: 90px;
  // border-radius: 10px;
  // overflow: hidden;
}

.carousel-item {
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
}


.root-description {
  font-size: 20px;
  font-weight: 600;
 color: #c2c8bc;
 padding: 0 10px;
 line-height: 28px;
 letter-spacing: 2px;

}

.root-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#root-btn {
  width: 350px;
  z-index: 1;
  letter-spacing: 2px;
  font-weight: 700;
}
