.root {
  width: 100vw;
  height: 100vh;
  min-height: 70vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root-background {
  // background-image: linear-gradient(to top, #344620a0 20%, #344620a0 70%), asset-url("root.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.root-gradient {
  background-image: linear-gradient(to bottom, #34462000 20%, #344620a0 60%);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.root-img {
  height: 100%;

}

#background {
  z-index: -2;
}



.root-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#root-btn {
  width: 350px;
  z-index: 1;
  letter-spacing: 2px;
  font-weight: bold;
}
