
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.garden-card {
  transition: box-shadow 0.3s ease-in-out;
  width: 350px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.garden-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.garden-name {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.garden-address {
  color: #333;
  font-size: 0.9em;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .garden-card {
    width: 80%;
    max-width: 350px;
    margin: 10px auto;
  }

  .garden-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 428px) {
  .garden-card {
    width: 90%;
    margin: 5px auto;
  }
}

.garden-show, .event-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eeeeee;
}

.garden-image, .event-detail {
  width: 100%;
  max-width: 600px;
}

.garden-show-image, .show-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.rent-parcel-form, .event-detail {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.show-photo-column, .show-description-column {
  flex: 1;
  padding: 10px;
}


.event-card-info {
  margin-top: 20px;
  text-align: center;
}

.event-detail {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.action-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.garden-show .field, .garden-show .actions {
  margin: 10px 0;
}

.show-photo {
  max-width: 100%;
  height: auto;
}

.event-card-info {
  background-color: white;
}
h2{
  font-family: 'Montserrat';
  font-size: 20px;
  margin-bottom: 20px;
  color: #344620;
  margin-top: 40px;
  font-weight: bold;
}
.event-card p{
  font-family: 'Montserrat';
  font-weight: lighter;
  background-color: white;
  color: #344620;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.form-label {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #344620;
}

.form  {
  font-family: 'Montserrat';
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
  background-color: #F9FAF0;
}

.form-select {
  border-radius: 10px;
  background-color: #F9FAF0;
}

.action-button {
  font-family: 'Montserrat';
}

.checked {
  color: orange;
  font-size: 10px;
}

.unchecked {
  font-size: 10px;
  color: grey;
}

.review-text {
  width: 80%;
  text-align: left;
  overflow-wrap: break-word;
  margin-right: 50px;
  p {
    margin-top: 0;
    margin-left: 60px;
    font-size: 17px;

  }
}

.review-top-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }
}

.review-first-name {
  margin-left: 8px;
  font-weight: 600!important;
}

.review-date {
  p {
    margin-top: -10%;
    font-size: 14px;
    margin-right: 50px;
  }
}
/* Search Bar Style */
.search-bar-container {
  background: #F7F8F5;
  padding: 15px;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  z-index: 9;
}

.search-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-form {
  display: flex;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 17px;
  overflow: hidden;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 8px 13px;
  font-size: 14px;
}

.search-button {
  background-color: #97B140;
  color: #fff;
  border: none;
  padding: 8px 13px;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.4s;
}

.search-button:hover {
  background-color: #758933;
}

/* Media query for responsive adjustments */
@media (max-width: 768px) {
  .search-bar-inner {
    flex-direction: column;
  }

  .search-input, .search-button {
    width: 100%;
    margin-top: 5px;
  }
}
