
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


.garden-card {
  transition: box-shadow 0.3s ease-in-out;
  width: 350px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.garden-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.garden-name {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.garden-address {
  color: #333;
  font-size: 0.9em;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .garden-card {
    width: 80%;
    max-width: 350px;
    margin: 10px auto;
  }

  .garden-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 428px) {
  .garden-card {
    width: 90%;
    margin: 5px auto;
  }
}


.garden-show, .event-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eeeeee;
}

.garden-image, .event-detail {
  width: 100%;
  max-width: 600px;
}

.garden-show-image, .show-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.rent-parcel-form, .event-detail {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.section-show {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.show-photo-column, .show-description-column {
  flex: 1;
  padding: 10px;
}


.event-card-info {
  margin-top: 20px;
  text-align: center;
}

.event-detail {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.action-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.garden-show .field, .garden-show .actions {
  margin: 10px 0;
}


.show-photo {
  max-width: 100%;
  height: auto;
}
