
.parcel-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.parcel-container h1 {
  font-size: 1.5em;
  text-align: center;
  color: #009879;
  margin-bottom: 20px;
}


.parcel-form, .reservation-form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.parcel-form .field, .reservation-form .field,
.parcel-form .actions, .reservation-form .actions {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.parcel-form label, .reservation-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.parcel-form input[type="text"],
.parcel-form input[type="number"],
.parcel-form select,
.reservation-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.parcel-form input[type="submit"],
.reservation-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.parcel-form input[type="submit"]:hover,
.reservation-form input[type="submit"]:hover {
  background-color: #45a049;
}


.event-card-index2 {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;

}


.btn-primary {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #ebede9;
  background-color: #5d6b4d;
  transition: 0.2s;
  width: 100%;
  &:hover {
    background-color: #485936;
  }
}

.scrollable-container {
  max-height: 100vh;
  overflow: auto;
}
